*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html {
	//This defines what 1rem is
	font-size: 62.5%; /* =10px on normal browser considering a default of 16px=100% on browsers*/
}

body {
    box-sizing: border-box;
}

.clearfix{
	&::after {
        content: "";
        display: table;
        clear: both;
    }
}


.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-horizontal;
    }


    [class^="col-"] {
        float: left;
        position: relative;

        &:not(:last-child) {
            margin-right: $gutter-vertical;
        }

    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-vertical}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-vertical}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-vertical}) / 3) + #{$gutter-vertical}); // two times a third + the gutter width
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-vertical}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-vertical}) / 4) + #{$gutter-vertical}); // two times a third + the gutter width
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-vertical}) / 4) + 2 * #{$gutter-vertical}); // two times a third + the gutter width
    }

    .col-1-of-5 {
        width: calc((100% - 4 * #{$gutter-vertical}) / 5); // two times a third + the gutter width
    }

}

.title{
    width: 130rem;
    margin: 0 auto;
    position: relative;
}

.btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}