@mixin classBG-1{
    background-image: linear-gradient(
        to bottom, 
        rgba($color-two, 0.5), 
        rgba($color-two, 1)),             
        url(../img/pottery.jpg);
}
@mixin classBG-2{
    background-image: linear-gradient(
        to bottom, 
        rgba($color-three, 0.5), 
        rgba($color-three, 1)),       
        url(../img/drawing2.jpg);    
}
@mixin classBG-3{
    background-image: linear-gradient(
        to bottom, 
        rgba($color-four, 0.5), 
        rgba($color-four, 1)), 
        url(../img/sewing.jpg);
}
@mixin classBG-4{
    background-image: linear-gradient(
        to bottom, 
        rgba($color-five, 0.5), 
        rgba($color-five, 1)), 
        url(../img/flower.jpg);
}
@mixin classBG-5{
    background-image:linear-gradient(
        to bottom, 
        rgba($color-one, 0.7), 
        rgba($color-one, 1)), 
        url(../img/crea.jpg);
}


.classes{

    margin-top: 14rem;

    &__01{
        background-image: url(../img/01.png);
        top: -5.5rem;
        left: -5rem;
        }

    &__gallery{
        width: 120rem;
        height: 65vh;
        
        margin: 12rem auto;
        
        position: relative;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        overflow: hidden
        
    }
    &__info{
        width: 25%;
        height: 100%;
        padding: 5rem;
        background-color: rgba(white, .8);        
    }

    &__contentBox{
        width: 75%;
        height: 100%;     
                
    }

    &__contentRelative{
        position: relative;        
        height: 100%;
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 80%;   
        
        padding: 3rem;  
        background-color: rgba(white, .8);        

        &--gallery{
            width: 100%;            
            padding: 3.5rem 0;
            text-align: center;
        }
        &--text{
            padding: 0 1rem;
        }

        &--img{
            width: 32%;
            height: 15rem;
            background-size: cover;
            background-position: center;
            display: inline-block;
            &:not(:last-child) {
                margin-right:.5rem;
            }

            &-1{background-image: url(../img/pottery1.jpg)}
            &-2{background-image: url(../img/pottery2.jpg)}
            &-3{background-image: url(../img/pottery3.jpg)}
            &-4{background-image: url(../img/drawing.jpg)}
            &-5{background-image: url(../img/drawing1.jpg)}
            &-6{background-image: url(../img/drawing3.jpg)}
            &-7{background-image: url(../img/sewing1.jpg)}
            &-8{background-image: url(../img/sewing2.jpg)}
            &-9{background-image: url(../img/sewing3.jpg)}
            &-10{background-image: url(../img/flower1.jpg)}
            &-11{background-image: url(../img/flower2.jpg)}
            &-12{background-image: url(../img/flower3.jpg)}
            &-13{background-image: url(../img/crea1.jpg)}
            &-14{background-image: url(../img/crea2.jpg)}
            &-15{background-image: url(../img/crea3.jpg)}

        }
        &--btn{
            
            background-color: $color-two-dark;
            padding: 1rem;
            float: right;                      
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            transition: all .3s;

            &:hover{
                transform: scale(1.1);
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);                
            }
        }

        &--close{
            font-size: 4rem;
            margin-right: 2rem;
            color: white;
            float: right;
        }
    }

    &__slideL {       
        position: absolute;
        top: 0; left: 0; 
        transition: all .2s ease-out, visibility 0s .2s;        
        transform: translateX(-100%);
    }

    &__slideR {     
        position: absolute;
        top: 0rem; right: 0rem; 
        transition: all .5s ease-out, visibility 0s .2s;
        transform: translateX(200%);
    }

    &__subtitle{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform:translateX(-50%);    
        text-align: center;   
        cursor: pointer;
       
        padding: 1rem;    
        transition: all .5s ease-in-out;        
    }

    &__class{
        width: calc(100% / 5);
        height: 100%;
        border-right: .5rem solid white;
        background-color: antiquewhite;        
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
        
        transition: all .5s ease-out;
        
        &--1{
            @include classBG-1;
            background-position: 55% center;
        }
        &--2{
            @include classBG-2;
            background-position: 65% center;
        }
        &--3{
            @include classBG-3;
            background-position: 18% center;
        }
        &--4{
            @include classBG-4;
            background-position: center;
        }
        &--5{
            @include classBG-5;
            background-position: center;
        }

    &:hover .classes__subtitle{
        transform: translate(-50%, -3rem);
        transition: all .3s ease-in-out;
    }
}

  
    &__details {
        padding: 6rem 0;
        background-color: $color-four;
        position: relative;
        border-top: 3px dotted $color-grey-light;


        &--sub{
            position: absolute;
            top: 50%;
            left: 4rem;
            transform: translate(-50%, -50%);
        }
    }

    &__text{
        text-align: justify;
        padding: 0 2rem;
    }
}

//JS CLASSES


.none{
  opacity: 0;
  //transform: scale(0);
  transition: all .3s ease-out;
}


.classBG-js-1{
    @include classBG-1;
}
.classBG-js-2{
    @include classBG-2;
}
.classBG-js-3{
    @include classBG-3;
}
.classBG-js-4{
    @include classBG-4;
}
.classBG-js-5{
    @include classBG-5;
}