@mixin classBG-1{
    background-image: url(../img/pottery.jpg);
        @include respond(phone) {
            background-image: url(../img/pottery-small.jpg);        
        } 
}
@mixin classBG-2{
    background-image: url(../img/drawing.jpg);  
        @include respond(phone) {
            background-image: url(../img/drawing-small.jpg);        
        }   
}
@mixin classBG-3{
    background-image: url(../img/sewing.jpg);
        @include respond(phone) {
            background-image: url(../img/sewing-small.jpg);        
        }  
}
@mixin classBG-4{
    background-image: url(../img/flower.jpg);
        @include respond(phone) {
            background-image: url(../img/flower-small.jpg);        
        }  
}
@mixin classBG-5{
    background-image: url(../img/crea.jpg);
        @include respond(phone) {
            background-image: url(../img/crea-small.jpg);        
        }  
}


.classes{

    padding-top: 14rem;

    &__01{
        background-image: url(../img/title/01.png);
        @include background;
        top: -5.5rem;
        left: -5rem;
        }

    &__gallery{
        width: 120rem;
        height: 65rem;        
        margin: 12rem auto;        
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include background;
        background-color: aquamarine;
        overflow: hidden;

        @include respond(big-tab) {
            width:80%;
        }
        @include respond(small-tab) {
            height: 90vh;
        }  
 
        @include respond(phone-land) {
            height: 120vh;            
        }
        @include respond(small-phone) {
            height: 100vh;
        }

    }


    &__info{
        width: 25%;
        height: 100%;
        padding: 5rem;
        background-color: rgba(white, .8); 

        @include respond(big-tab) {
        padding: 2rem;
        }

        @include respond(small-tab) {
            width: 100%; 
            height: 22rem;        
            padding: 3rem;    
        }   
        @include respond(small-phone) {
            border-bottom: 1px solid $color-grey-light; 
            border-top: 1px solid $color-grey-light; 
        } 

    }

    &__dummy{
        @include respond(small-tab) {
            width:100%;
            height: 22rem;
        }

    }

    &__contentBox{
        width: 75%;
        height: 100%; 
        
        @include respond(small-tab) {
            width: 100%;             
        } 
        @include respond(phone) {
            height: 90vh;            
        } 
        @include respond(phone-land) {
            height: 120vh;            
        }
        @include respond(small-phone) {
            height: 100vh;
        }
    }

    &__contentRelative{
        position: relative;        
        height: 100%;

        @include respond(small-tab) {
            height: 80%;          
        } 
        @include respond(phone) {
            height: 70%;          
        }
        @include respond(small-phone) {
            height: 100%;          
        }
    }

    &__content{
        width: 80%;   
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 3rem;  
        background-color: rgba(white, .8);        
        transform: translate(-50%, -50%);

        @include respond(big-tab) {
            width: 88%; 
        }    
        @include respond(small-tab) {
            height: 90%; 
            overflow-y: auto;  
            &::-webkit-scrollbar {
                width: .5rem;
            }
            &::-webkit-scrollbar-track{
                background-color: $color-grey-dark;
            }
            &::-webkit-scrollbar-thumb {
                background: $color-grey-light; 
            }       
        } 
        @include respond(phone) {
            height: 80%;
        }
        @include respond(small-phone) {
            width: 100%;
            height: 100%;
        }
   
    }

    &__slideL {       
        position: absolute;
        top: 0; left: 0; 
        transition: all .2s ease-out, visibility 0s .2s;        
        transform: translateX(-110%);
    }

    &__slideR {     
        position: absolute;
        top: 0rem; right: 0rem; 
        transition: all .5s ease-out, visibility 0s .2s;
        transform: translateX(200%);
    }

    &__subtitle{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform:translateX(-50%);    
        text-align: center;          
       
        padding: 1rem;    
        transition: all .5s ease-in-out; 
    }

    &__class{
        width: calc(100% / 5);
        height: 100%;
        border-right: .5rem solid white;
        background-color: antiquewhite;        
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        cursor: pointer;       
        
        transition: all .5s ease-out;

        @include respond(small-tab) {
            width: 100%;
            height:auto;
            border-right: none;            
        }
        
        &--1{
            @include classBG-1;
            background-position: 55% center;
        }
        &--2{
            @include classBG-2;
            background-position: 65% center;
        }
        &--3{
            @include classBG-3;
            background-position: 18% center;
        }
        &--4{
            @include classBG-4;
            background-position: center;
        }
        &--5{
            @include classBG-5;
            background-position: center;
        }

        &:hover .classes__subtitle{
            transform: translate(-50%, -3rem);
            transition: all .3s ease-in-out;
        }
    }

 
    &__details {
        padding: 4rem 0;
        background-color: $color-four;
        position: relative;
        border-top: 3px dotted $color-grey-light;


        &--sub{
            position: absolute;
            top: 50%;
            left: 4rem;
            transform: translate(-50%, -50%);
        }
    }
    &__icon{
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
        margin-bottom: 3rem;
        @include background;

        &--1{background-image: url(../img/teamwork.svg);}
        &--2{background-image: url(../img/test.svg);}
        &--3{background-image: url(../img/tools.svg);}
    }

    &__text{
        text-align: justify;
        padding: 0 2rem;

        @include respond(small-tab) {
            padding: 0 1rem;
        }
        @include respond(phone) {
            padding: 0 6rem;         
        }

    }


    &__booking{
        @include fullScreenBox;
        display: none;
        transition: all .5s;
    }
}

.content{
    overflow-y: auto;

    &__gallery{
        width: 100%;            
        padding: 3.5rem 0;
        text-align: center;
        position: relative;    
        @include respond(phone) {
            display: none;      
        }     
    }
    &__title{
        @include respond(small-tab) {
            height: auto;           
        } 
        @include respond(phone) {
            height: auto;       
        } 
    }
    &__text{
        padding: 0 1rem;
        @include respond(small-tab) {
            height: auto;           
        } 
        @include respond(phone) {
            height: auto;       
        } 
    }
    
    &__img{
        width: 32%;
        height: 15rem;
        @include background;
        display: inline-block;

        &:not(:last-child) {
            margin-right:.5rem;
        }

        @include respond(small-tab) {
            width: 100%;     
            height: 12rem;      
        } 
            
        &--1{
            background-image: url(../img/classes/pottery1.jpg);
            @include respond(phone) {
                background-image: url(../img/classes/pottery1-small.jpg);
            }
        }
        &--2{
            background-image: url(../img/classes/pottery2.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/pottery2-small.jpg);
            }
        }
        &--3{
            background-image: url(../img/classes/pottery3.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/pottery3-small.jpg);
            }
        }
        &--4{
            background-image: url(../img/classes/drawing1.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/drawing1-small.jpg);
            }
        }
        &--5{
            background-image: url(../img/classes/drawing2.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/drawing2-small.jpg);
            }
        }
        &--6{
            background-image: url(../img/classes/drawing3.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/drawing3-small.jpg);
            }
        }
        &--7{
            background-image: url(../img/classes/sewing1.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/sewing1-small.jpg);
            }
        }
        &--8{
            background-image: url(../img/classes/sewing2.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/sewing2-small.jpg);
            }
        }
        &--9{
            background-image: url(../img/classes/sewing3.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/sewing3-small.jpg);
            }
        }
        &--10{
            background-image: url(../img/classes/flower1.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/flower1-small.jpg);
            }
        }
        &--11{
            background-image: url(../img/classes/flower2.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/flower2-small.jpg);
            }
        }
        &--12{
            background-image: url(../img/classes/flower3.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/flower3-small.jpg);
            }
        }
        &--13{
            background-image: url(../img/classes/crea1.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/crea1-small.jpg);
            }
        }
        &--14{
            background-image: url(../img/classes/crea2.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/crea2-small.jpg);
            }
        }
        &--15{
            background-image: url(../img/classes/crea3.jpg);
                        @include respond(phone) {
                background-image: url(../img/classes/crea3-small.jpg);
            }
        }
    
    }
    &__btn{
        
        background-color: $color-two-dark;
        padding: 1rem;
        float: right;       
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);                
        transition: all .3s;
        @include respond(phone) {
            margin-top: 2rem;
        }
        @include respond(phone-land) {
            margin-top: 2rem;
        }
        &:hover{
            transform: scale(1.2);    
        }
        
    }
    
    &__close{
        font-size: 4rem;
        margin-right: 2rem;
        margin-top: 1rem;
        color: white;
        float: right;        

        @include respond(big-tab) {
            margin-right: 1rem;
        }
    
        @include respond(small-tab) {
            position: absolute;
            top: -30%;
            right:2rem;
            color:$color-grey-medium;                
        } 
        @include respond(phone) {
            top: -30%;
            right: 1rem;              
        } 
        @include respond(small-phone) {
            top: -28%;
            right: 1rem;              
        } 
    }
}


.info{

    &__classes, &__fees{
        @include respond(small-tab) {
            display: inline-block;
            vertical-align: top;
        }  
    }

    &__subtitle, &__text{
        @include respond(small-tab) {
            display: inline-block;
            vertical-align: top;
        }  
    }  

    &__text{
        margin: 0 2rem;
        margin-bottom: 2rem;
    }       
}      



.booking{
    &__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 4rem;
        width: 60%;
        padding-bottom: 8rem;
        background-color: white;
        position: relative;

        @include respond(small-tab) {
            width: 80%;        
        } 
        @include respond(phone) {
            width: 90%;        
        }
    }
    &__close {
        font-size: 4rem;        
        color: $color-grey-light;
        position: absolute;
        top: 2rem;
        right: 2rem;        
    }
    &__list{
        width: 60%;
        margin: 0 auto;
        list-style: none;
    }
    &__item{ 
        border-bottom : 1px solid $color-grey-light;
        padding: 2rem 0;
        
    }
    &__day{
        @include respond(phone) {
            margin-bottom: 2rem;
        }
    }

    &__day, &__places{
        
        display: inline-block;
        vertical-align: middle;
    }
    &__btn{         

        background-color: $color-two-dark; 
        float: right;       
        color : white ;
        padding: .8rem 1.5rem;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); 
        transition: all .3s;

        &:hover{
            transform: scale(1.2);    
        }
    }
    
    &__day, &__places{
        margin-right: 2rem;
    }

    &__places {
        border: 1px solid $color-grey-medium;
        color: $color-grey-medium;
        padding : .5rem;
    }

    &__form{
        display: none;
    }
}

//JS CLASSES


.none{
  opacity: 0;
  //transform: scale(0);
  transition: all .3s ease-out;
}


.classBG-js-1{
    @include classBG-1;
}
.classBG-js-2{
    @include classBG-2;
}
.classBG-js-3{
    @include classBG-3;
}
.classBG-js-4{
    @include classBG-4;
}
.classBG-js-5{
    @include classBG-5;
}