.contact{
    
    padding: 12rem 0;
    background-color: $color-five-light;

    &__05{
        background-image: url(../img/05.png);
        @include background;
        top: -5.5rem;
        left: -4.5rem;
    }

    &__info{
        width: 50%;
        float: left;
        margin-bottom: 2rem;
    }

    &__details {
        width: 50%;
        float: left;
        margin-bottom: 2rem;
    }

    &__form{
        padding: 0 2rem;
        width: 100%;
    }

    &__box {
        width: 100%;
        display: inline-block;
        margin-bottom: 1rem;
    }


    &__label{
        padding: .5rem;
    }

    &__field{
        min-width: 70%;
        float: right;
        margin-left: 1.5rem;
        padding: .5rem;
       
        outline: none;
        
        &:focus{

            outline: 2px solid $color-five-dark;
        }

        &--msg{
            height: 20rem;
            resize: none;
            overflow: auto;
            
        }
    }
    
    &__btn{
        float: right;
        margin-top: 2rem;
        padding:1rem;
        color: white;
        background-color: $color-grey-medium;
        transition: all .3s;
    }
}