.footer{
    background-color: $color-grey-dark;
    color: white;
    padding: 5rem;
    padding-bottom: 2rem;

    @include respond(phone) {
        padding: 2rem;      
    }
    

    &__container{
        position: relative;        
    }

    &__logo{
       
        display: inline-block;
        margin-right: 5rem;
        vertical-align: middle;

        @include respond(phone) {
            margin-right: 2rem;      
        }

        &--img{
            width: 15rem;
            height: 10rem;

            @include respond(phone) {
                width: 9rem;
                height: 6rem;        
            }
    
        }        
    }
    &__thank{
        width: 60%;
        display: inline-block;
        margin-right: 5rem;
        vertical-align: middle;

        @include respond(big-tab) {
            width: 40%;           
        }
        @include respond(phone) {
            margin-right: 2rem;     
        }

    }

    &__com{
        display: inline-block;
        vertical-align: middle;
        width: 15%;

        @include respond(big-tab) {
            width: 20%;           
        }
        @include respond(phone) {
            width: 30%;           
        }
        @include respond(small-phone) {
            width: 20%;  
            text-align: center;       
        }

    }
    &__subtitle{
        margin-bottom: 2rem;
    }

    &__follow{
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;        
        display: inline-block;  
        @include respond(phone) {
            width: 3rem;
            height: 3rem;           
        }
     
       
    }

    &__copyright{
        margin-top: 2rem;
    }
}