.footer{
    background-color: $color-grey-dark;
    color: white;
    padding: 5rem;
    padding-bottom: 2rem;
    

    &__container{
        position: relative;        
    }

    &__logo{
       
        display: inline-block;
        margin-right: 5rem;
        vertical-align: middle;

        &--img{
            width: 15rem;
            height: 10rem;
        }        
    }
    &__thank{
        width: 60%;
        display: inline-block;
        margin-right: 5rem;
        vertical-align: middle;
    }

    &__com{
        display: inline-block;
        vertical-align: middle;
        width: 15%;

    }
    &__subtitle{
        margin-bottom: 2rem;
    }

    &__follow{
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;        
        display: inline-block;       
       
    }

    &__copyright{
        margin-top: 2rem;
    }
}