.gallery{

    padding: 12rem 0;
    position: relative;

    &__04{
        background-image: url(../img/title/04.png);
        @include background;
        top: -5.5rem;
        left: -4.5rem;
    }

    &__photoContainer{
        overflow: hidden;

        @include respond(phone) {            
            width: 50%;
            margin: 1rem auto;
        }
    }
    
    &__photo{
        width: 100%;
        height: 25rem;
        @include background;
        cursor: pointer;
        transition: all .3s;

        @include respond(big-tab) {            
            height: 15rem;
        }
        @include respond(phone-port) {            
            height: 25rem;
        }


        &--1{
            background-image: url(../img/gallery/gallery-1.jpg);
        }
        &--2{
            background-image: url(../img/gallery/gallery-2.jpg);
        }
        &--3{
            background-image: url(../img/gallery/gallery-3.jpg);
        }
        &--4{
            background-image: url(../img/gallery/gallery-4.jpg);
        }
        &--5{
            background-image: url(../img/gallery/gallery-5.jpg);
        }
        &--6{
            background-image: url(../img/gallery/gallery-6.jpg);
        }
        &--7{
            background-image: url(../img/gallery/gallery-7.jpg);
        }
        &--8{
            background-image: url(../img/gallery/gallery-8.jpg);
        }
        &--9{
            background-image: url(../img/gallery/gallery-9.jpg);
        }
        &--10{
            background-image: url(../img/gallery/gallery-10.jpg);
        }

        &:hover{
            transform: scale(1.1);
        }
    }   
    &__fullScreen{
        @include fullScreenBox;
        visibility: hidden;

        &--cont{
            width: 85%;
            height: 85%; 
            @include absCenter;
    
        }
    }

    &__fullImg{
        width: 100%;
        height: 100%;     
        text-align: center;
        position: relative;
        color: white;
        z-index: 2000;
    }

    &__figure {
        @include absCenter;
    }

    &__img{
        
        display: block;
        margin: 0 auto;
        max-width: 80vw;
        max-height: 80vh;
        
        @include respond(big-tab) {
            max-height: 75rem;
            max-width: 80rem;
        } 

        @include respond(small-tab-port) {            
            max-width: 75rem;
        }       
        @include respond(small-tab-land) {            
            max-height: 65rem;
        } 
        
        @include respond(phone-port) {
            max-width: 36rem;                    
        }
        @include respond(phone-land) {
            max-height: 36rem;
            max-width: 60rem;                    
        }
    }

    &__caption{
        padding: 1rem 0;
        color: white;
        text-align: center;
    }
    &__close{
        font-size: 4rem;
        margin: 2rem 4rem;
        color: white;
        float: right;
    }

    &__arrow{
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index:2000;

        @include respond(small-tab) {
            top: 95%;                    
        }
        @include respond(small-tab-port) {            
            top: 50%;
        } 
        @include respond(phone) {
            top: 95%;                    
        }

        &--L{
            left: -6rem;
            @include respond(phone) {            
                left: -2rem;
            } 
            @include respond(phone-land) {            
                left: -1rem;
            } 
        }
        &--R{
            right:-6rem;
            @include respond(phone) {            
                right:-2rem;
            } 
            @include respond(phone-land) {            
                right: -1rem;
            } 
        }

        &--btn{
            font-size: 5rem;
            color: white;
        }
    }

    
}