.landpage{
    
    //width: 100vw;
    height: 100vh;
    margin: 0 auto;

    background-image: url(../img/landpage.jpg);
    @include background;


    position: relative;
}

.header{

    &__logo{
        width: 15rem;
        height: 10rem;
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__title{        
        color: $color-two-dark;
        position: absolute;
        bottom: 30%;
        right: 10%;       
    }

    &__subtitle{
        float: right;
        color: $color-grey-medium;
        font-size: 2rem;
        transform: translateY(-2.5rem);
    }
}


.welcome{

    padding: 7rem 0;
    border-top: 4px dotted white;
    border-bottom: 4px dotted white;
    background-color: $color-one;
    font-family: 'Old Standard TT', serif;

    &__title{
        margin: 2.5rem 0;
    }

    &__text{
        padding-left: 3rem;
    }

    &__w{
        background-image: url(../img/W.png);
        top: -3.5rem;
        left: -5.5rem;
        @include background;
    }

    &__welc{
        z-index: 5;
    }

    &__subtitle{
        position: absolute;
        top: 4rem;
        left: -8rem;
    }
}

.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        
        height: 7rem;
        width : 7rem;
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index:1000;
        text-align: center;
        cursor: pointer;

    }

    &__background {
        width: 18vw;
        height: 100vh;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(white, .85);
        z-index:500;
        transform:translateX(100%);
        transition: all .5s ease-out;
    }

    &__nav {
        width: 50rem;        
        z-index: 1500;        
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        padding-right:2rem;
        text-align: right;
        list-style: none;
  
    }

    &__item {
        margin: 1rem;

        &:hover .navigation__number {
            opacity: .8;            
        }

    }
    &__number{
        display: inline-block;
        padding: 1rem 2rem;        
        opacity: 0;
        color:$color-two-dark;
        transition: all .4s;
    }

    &__link {
        &:link,
        &:visited{
            display: inline-block;          
            padding: 1rem 2rem;
            color: $color-grey-medium;
            transition: all .4s;
        }

        &:hover,
        &:active{
            transform: scale(1.2);
        }        
    }


    //FUNCTIONALITY

    &__checkbox:checked ~ &__background {
        transform:translateX(0%);        
        opacity: 1;
    }

    //ICON

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-medium;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {top: -.8rem;}
        &::after {top: .8rem;}
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top:0;
        transform: rotate(135deg);
        background-color: $color-grey-medium;
    }

    &__checkbox:checked + &__button &__icon::after {
        top:0;
        transform: rotate(-135deg);
        background-color: $color-grey-medium;
    }    

}