.landpage{
    background-image: url(../img/landpage.jpg);
    background-size: cover;
    background-position: center;

    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    position: relative;
}

.header{

    &__logo{
        width: 6rem;
        height: 6rem;
        background-color: $color-three;

        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &__title{
        width: 50rem;
        color: $color-three-dark;
        position: absolute;
        bottom: 20%;
        right: 0;

        transform: translate(-50%,-50%);
    }
}


.welcome{

    padding: 7rem 0;
    border-top: 4px dotted white;
    border-bottom: 4px dotted white;
    background-color: $color-one;
    font-family: 'Old Standard TT', serif;

    &__title{
        margin: 2.5rem 0;
    }

    &__text{
        padding-left: 3rem;
    }

    &__w{
        background-image: url(../img/W.png);
        top: -3.5rem;
        left: -5.5rem;
    }

    &__welc{
        z-index: 5;
    }

    &__subtitle{
        position: absolute;
        top: 4rem;
        left: -8rem;
    }
}