//MIXINS MEDIA QUERIES


@mixin  respond($breakpoint) {


    
    @if $breakpoint == small-phone {
        @media only screen and (max-height: 37.5em) and (orientation:portrait) {@content};   //600px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content};   //600px
    }
    @if $breakpoint == phone-port {        
        @media only screen and (max-width: 37.5em) and (orientation:portrait) {@content};
    }
    @if $breakpoint == phone-land {        
        @media only screen and (max-width: 56.25em) and (orientation:landscape) {@content};
    }

    @if $breakpoint == small-tab {
        @media only screen and (max-width: 56.25em) {@content};  //900px
    }
    @if $breakpoint == small-tab-port {
        @media only screen and (max-width: 56.25em) and (orientation:portrait) {@content};  
    }
    @if $breakpoint == small-tab-land {
        @media only screen and (max-width: 75em) and (orientation:landscape) {@content};  
    }    
    
    @if $breakpoint == big-tab {
        @media only screen and (max-width: 75em) {@content};  //1200px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 93.75em) {@content};  //1500em
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {@content};  //1800px
    }

    //No Hover touchscreen
    @if $breakpoint == mobile {
        @media only screen and (hover: none) {@content};
    }
    
}

//MIXINS LAYOUT

@mixin fullScreenBox {
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
};

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
};

@mixin background{
    background-position: center;
    background-size: cover;
}
