.team{
    border-top: 3px dotted $color-grey-light;
    padding-top: 15rem;

    &__03{
        background-image: url(../img/03.png);
        @include background;
        top: -5.5rem;
        left: -4.5rem;
    }

    &-1-of-3{
        width: calc((100% - 2 * #{$gutter-vertical}) / 3);
        float: left;
        position: relative;

        &:not(:last-child) {
            margin-right: $gutter-vertical;
        }
        
        @include respond(big-tab) {
            width: 100%;
            margin-bottom: 4rem;      
            padding: 0 4rem;      
        }
    }

    &__container{
        position: relative;
        overflow: hidden;
        &:hover {
            & .slide { 
                transform: translateY(0%);                
                transition: all .4s ease-out;
            }

            & .team__photo{
                transform: scale(1.1);
                transition: all .2s ease-out;

                @include respond(small-tab) {
                    transform: scale(1);
                }
            }
        }

        @include respond(small-tab) {
            margin: 0 auto;
            text-align: center; 
        }

        @include respond(phone) {
            width: 100%;           
           
        }
    }

    &__desc{
        text-align: center;

        @include respond(big-tab) {
            width: 100%;
        }

        @include respond(small-tab) {
            width: 40%;
        }
        
    }

    &__photo{
        width: 100%;
        height: 35rem;
        @include background;

        @include respond(small-tab) {
            width: 40%;            
            float: left;
        }

        @include respond(mobile) {
            width: 40%;            
            float: left;
        }

        @include respond(phone) {
            width: 12rem;
            height: 12rem;   
            border-radius: 50%;
            float: none;
            margin: 0 auto;        
            
        }


        &--1{background-image: url(../img/team01.jpg);}
        &--2{background-image: url(../img/team02.jpg);}
        &--3{background-image: url(../img/team03.jpg);}
        &--4{background-image: url(../img/team04.jpg);}
        &--5{background-image: url(../img/team05.jpg);}
        &--6{background-image: url(../img/team06.jpg);}
    }

    &__testimonials{
        text-align: justify;
        background-color: $color-two;
        margin-top: 10rem;
        padding: 6rem 0;
        position: relative;
        border-top: 3px dotted $color-grey-light;
        border-bottom: 3px dotted $color-grey-light;

        @include respond(phone) {
            margin-top: 3rem;            
        }
      

        &--sub{
            position: absolute;
            top: 50%;
            left: 4rem;
            transform: translate(-50%, -50%);
        }

        &--quote{
            position: relative;
        }

        &--id{
            @include respond(phone) {
                margin-bottom: 2rem;
            }
        }
    }

    &__icon{
        
        margin: 0 auto;
        width: 8rem;
        height: 8rem;        
        @include background;

        &--1{background-image: url(/img/man.svg);}
        &--2{background-image: url(/img/girl.svg);}

        @include respond(phone) {            
            width: 12rem;
            height: 12rem;            
        }
    }

    &__quote{
        width: 8rem;
        height: 8rem;
        background-image: url(../img/quote.png);
        @include background;
        position: absolute;
        &--1{
            top:-5rem;
            left:-9rem;
            @include respond(phone) {            
                top:-15rem;    
            }
        }
        &--2{
            bottom: -5rem;
            right: -8rem;
            transform: rotate(180deg);

        }
    }

}

.team__testimonialsBox{
    @include respond(phone) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}

.slide {
    background-image: linear-gradient(to bottom,
		rgba($color-three, 1) 65%,
        rgba($color-three, 0.5));
        
    padding: 4rem;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: all .2s ease-in-out, visibility 0s .2s;
    transform: translateY(100%);

    @include respond(small-tab) {
        position: relative;         
        float: right;       
        width: 60%;
        height: 35rem;
        transform: translateY(0%);
    }
    @include respond(mobile) {
        position: relative;         
        float: right;       
        width: 60%;
        height: 35rem;
        transform: translateY(0%);
    }

    @include respond(phone) {
        padding: 2rem;    
        width: 100%; 
        max-height: 28rem;  
        background-image: none;
                  
        
    }
}