//COLORS

$color-one:#bfe5ff;
$color-one-dark:#4299d5;
$color-two:#ffcc99;
$color-two-dark:#ff9933;
$color-three:#ffcccc;
$color-three-dark:#ff9999;
$color-four:#ffff99;
$color-four-dark:#ffd200;
$color-five:#99ff99;
$color-five-light:#ccffcc;
$color-five-dark:#4aca4a;

$color-grey-light: #cccccc;
$color-grey-medium: #999999;
$color-grey-dark: #5a5a5a;



// GRID

$grid-width: 120rem;
$grid-width-medium: 100rem;
$grid-width-small: 75rem;

$gutter-vertical: 1.5rem;
$gutter-horizontal: 1.5rem;

.margin-bottom-tiny{
  margin-bottom: 1.5rem;
}

.margin-bottom-small{
  margin-bottom: 3rem;
  
  @include respond(small-tab) {
    margin-bottom: 2rem;
  }  
}
.margin-bottom-medium{
  margin-bottom: 6rem;
}
.margin-bottom-big{
  margin-bottom: 10rem;
  @include respond(phone) {
    margin-bottom: 8rem;      
  }
}



